<div class="container">
    <div class="welcome-home">
        <h1>Welcome to your personal <p class="important">Bag of Holding</p></h1>
        <p>If you haven't signed up, please sign in to use your bag of holding!</p>
    </div>
    <div class="changes">
        <h3>Changelog</h3>
        <ul>
            <p><b>Fixes:</b></p>
            <li>Fixed route for spell viewing</li>
            <li>Weird fatal error preventing character from being created is finally gone</li>
            <li>working on a fix to get a social life (no prospects yet)</li>
            <br>
            <p><b>Future Implimentation:</b></p>
            <li>Uploading of photos</li>
            <li>Race variations</li>
            <li>Subclasses</li>
            <li>Level up</li>
            <li>Equipment selection</li>
        </ul>
    </div>
<div class='repo-link'>Check out the code on Github:
    <a href="https://github.com/NikkiHmltn/bag-of-holding">
        <img src="https://i.imgur.com/u4eTqcw.png" alt="Github Icon Link">
    </a>
</div>
</div>

