<div class="profile">
<p>
  Feel free to create as many characters as you like! This is where you will always find them, unless you deleted them. Then they're just gone forever. If you character is a spellcaster, the list of spells available to them will be found inside of the character's class information!
</p>
<form action="/profile"method="GET">
<h1>Stored Characters</h1>
   <!-- <div class="card"> -->
  <% allCharacters.forEach(character => { %>
    <div class="card"style="width: 28rem;">
      <div class="card-body">
        <h5 class="card-title"><%=character.name%></h5>
        <p class="card-text"><%=character.bioDesc%></p>
        <a href="/char/<%=character.name%>" class="btn btn-danger">View Character</a>
      </div>
    </div>
  <%  }) %>
  <!-- </div> -->
</form>
</div>