.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

a:link {
  color: white;
  margin: 10px;
  padding: 10px;
}

a:visited {
  color: white;
  margin: 10px;
  padding: 10px;
}

a:hover {
  color: black;
  margin: 10px;
  padding: 10px;
}

.centered {
  border: solid 1px black;
  margin: auto;
  height: 500px;
  width: 500px; 
  position: relative;
}

.centered-child {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 50px; 
  width: 50px; 
  margin: auto;
  padding: 10px;
}

body {
  text-align: center;
}