.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 3em;
}

#logo {
  margin: 500px 0 0 0;
  width: 160px;
  height: auto;
}

#nav {
  width: 100%;
  margin: 10px;

}

#nav:link {
  color: white;
  margin: 10px;
  padding: 10px;
 
}

#nav:visited {
  color: white;
  margin: 10px;
  padding: 10px;
  
}

#nav:hover {
  color: black;
  margin: 10px;
  padding: 10px;
}

.centered {
  border-radius: 8%;
  border: solid 2px black;
  margin: auto;
  height: 500px;
  width: 500px; 
  position: relative;
}

.centered-child {
  position: absolute;
  top: 20%;
  left: 33%;
  height: 50px; 
  width: 50px; 
  margin: auto;
  padding: 10px;
}

body {
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.repo-link {
  width: 50%;
  margin: auto;
  padding: 30px;
}
.separate {
  border: dotted black 2px;
  margin: 10px;
}
.changes {
  border: solid black 2px;
  border-radius: 8px;
  margin: auto;
  width: 22%;
  height: 350px;;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.create {
  margin: auto;
  height: 500px;
  width: 500px; 
  position: relative;
}
.profile {
  padding: 10px;
  margin: auto;
  height: 500px;
  width: 500px; 
}
.card {
  border: black solid 1px;
  background-color:whitesmoke;
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 20px;
}
.select-class {
  margin: auto;
  padding: 10px;
  width: auto;
  border: dashed black 2px;
}

.select-race {
  margin: auto;
  padding: 10px;
  width: auto;
}

.select-background {
  margin: auto;
  padding: 10px;
  width: auto;
  border: dashed black 2px;
}

label { 
  margin: 10px;
}

.title {
  margin: 15px;
  
}


.nav-link {
  color: red;
}

.important {
  color: red
}